# Data logging: 
#### Writes data from jupyter to a .pkl file along with corresponding timestamps

In [4]:
from pynq import Overlay
from time import sleep
from matplotlib import pyplot as plt
import pandas as pd
from datetime import datetime
from pytz import timezone
%matplotlib inline

## Example for creating timestamp and converting the timezones

In [27]:
# Current time in UTC
now_utc = datetime.now(timezone('UTC'))
print('UTC time:     ',now_utc)

# Convert to US/Pacific time zone
now_pacific = now_utc.astimezone(timezone('US/Pacific'))
print('PST time:     ',now_pacific)

#Create a timestamp
now_pacific_timestamp = datetime.timestamp(now_pacific)
print('PST timestamp: ',now_pacific_timestamp)

#Reading data from timestamp
dt_object = datetime.fromtimestamp(now_pacific_timestamp)
print('From timestamp:',dt_object.astimezone(timezone('US/Pacific')))

#pd.Timestamp(datetime.now())
#pd.Timestamp(now_pacific)

UTC time:       2021-04-26 18:15:50.378651+00:00
PST time:       2021-04-26 11:15:50.378651-07:00
PST timestamp:  1619460950.378651
From timestamp: 2021-04-26 11:15:50.378651-07:00

## Writing to a .pkl file

In [61]:
#Create a filename
LogNum = [1,2]
stages = [1,3,5]
#EnFreq = [10, 100, 400] 
#DutyCycle = [10, 30, 50, 70, 90]
Filenames = []        #list if filenames
for i in range(len(stages)):
    for j in range(len(LogNum)):
        Filename = 'Instname_' + str(stages[i]) + '_' + str(LogNum[j]) + '.pkl'
        Filenames.append(Filename)

print('Filenames:',Filenames)

#Write to Filename
df = pd.DataFrame({"Frequency": range(5), "Temperature": range(5,10), "En_Freq": range(5),"Duty_Cycle": range(5), "Timestamp" : now_pacific})
df = df[["Frequency", "Temperature", "En_Freq", "Duty_Cycle", "Timestamp"]]
df.to_pickle(Filenames[1])

Filenames: ['Instname_1_1.pkl', 'Instname_1_2.pkl', 'Instname_3_1.pkl', 'Instname_3_2.pkl', 'Instname_5_1.pkl', 'Instname_5_2.pkl']

## Reading from .pkl file

In [62]:
unpickled_df = pd.read_pickle(Filenames[1])
unpickled_df.head()

,Frequency,Temperature,En_Freq,Duty_Cycle,Timestamp
0,0,5,0,0,2021-04-26 11:15:50.378651-07:00
1,1,6,1,1,2021-04-26 11:15:50.378651-07:00
2,2,7,2,2,2021-04-26 11:15:50.378651-07:00
3,3,8,3,3,2021-04-26 11:15:50.378651-07:00
4,4,9,4,4,2021-04-26 11:15:50.378651-07:00